<% if @blocks.exists? %>
	<% @blocks.each_slice(3) do |block| %>
		<div class="row">
			<% block.each do |block| %>
				<% if params[:controller] == 'home' %>
					<% if block.display == 'home' || block.display == 'all' %>
						<div class="col-md-4">
							<h2><%= block.title %></h2>
							<p><%= raw block.body %></p>
						</div>
					<% end %>
				<% else %>
					<% if block.display == 'nohome' || block.display == 'all' %>
						<div class="col-md-4">
							<h2><%= block.title %></h2>
							<p><%= raw block.body %></p>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>
<% end %>