<% if @jumbotron.exists? %>
	<% @jumbotron.each do |jumbotron| %>
		<% if params[:controller] == 'home' %>
			<% if jumbotron.display == 'home' || jumbotron.display == 'all' %>
				<div class="jumbotron">
					<div class="container">
						<h1 class="display-3"><%= jumbotron.title %></h1>
						<%= raw jumbotron.body %>
					</div>
				</div>
			<% end %>
		<% else %>
			<% if jumbotron.display == 'nohome' || jumbotron.display == 'all' %>
				<div class="jumbotron">
					<div class="container">
						<h1 class="display-3"><%= jumbotron.title %></h1>
						<%= raw jumbotron.body %>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
<% end %>