<!DOCTYPE html>
<html>
  <head>
    <title>Railscms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Content Management System</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Home", root_path, class: 'nav-link' %></li>
          <% @pageNav.each do |page| %>
            <li class="nav-item"><%= link_to page.title, page_path(page.id), class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= render "blocks/jumbotron" %>

    <main role="main">
      <div class="main-block">
        
        <%= render "blocks/block" %>
        <%= yield %>
        <hr>
      </div>

    </main>

    <footer class="container">
      <p>&copy; Company 2020-2021</p>
    </footer>
  </body>
</html>
